@model BTL_Nhom12.Models.Sanpham

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sanpham</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenSanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSanPham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DVT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DVT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NSX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NSX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kichco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kichco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaTien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaTien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soluongton)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soluongton)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaSanPham" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
